<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RScheme_interpreter"
        tools:targetApi="31">
        <activity
            android:name=".PyActivity"
            android:exported="false" />
        <activity
            android:name=".LearnActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FileListActivity" />
        <activity android:name=".QuizListActivity" />
        <activity
            android:name=".SettingDialog"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.bottomSheet" />
        <activity
            android:name=".SettingDialog2"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.bottomSheet" />
        <activity
            android:name=".SetFileDialog"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.bottomSheet" />

        <activity
            android:name=".HelpDialog"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.bottomSheet" />

        <activity
            android:name=".ExpDialog"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.bottomSheet" />
    </application>

</manifest>